<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="primary" class="ion-text-center">
    <h2>{{ 'account.register' | translate }}</h2>
  </ion-text>

  <form [formGroup]="form" class="ion-padding">
    <ion-item>
      <ion-label color="primary" position="stacked">{{ 'registration.name' | translate }}</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="stacked">{{ 'account.email' | translate }}</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="stacked">{{ 'account.username' | translate }}</ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="stacked">{{ 'account.password' | translate }}</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <large-button label="account.register" (submit)="onClick()"></large-button>
  </form>
</ion-content>
