<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="flex-container">
    <ion-text color="primary" class="ion-text-center full-width">
      <h2>{{ 'account.register' | translate }}</h2>
    </ion-text>

    <form [formGroup]="form" class="full-width">
      <ion-item>
        <ion-label color="primary" position="stacked">{{ 'registration.fullname' | translate }}</ion-label>
        <ion-input formControlName="fullname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="stacked">{{ 'account.email' | translate }}</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="stacked">{{ 'registration.phone' | translate }}</ion-label>
        <ion-input formControlName="phone" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="stacked">{{ 'account.password' | translate }}</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
    </form>

    <large-button class="full-width" label="account.register" (submit)="onClick()"></large-button>
  </div>
</ion-content>
