<ion-header>
  <toolbar-component [title]="'alert.title.add' | translate"></toolbar-component>
</ion-header>

<ion-content class="ion-padding">
  <div id="flex-container">
    <form [formGroup]="form" class="full-width">
      <ion-item>
        <ion-label position="stacked">{{ 'core.forms.field.name' | translate }}</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>

      <!-- Use Google Maps -->
      <ion-item>
        <ion-label position="stacked">{{ 'alert.field.location' | translate }}</ion-label>
        <ion-input formControlName="location" clearOnEdit></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">{{ 'alert.field.type' | translate }}</ion-label>
        <ion-select interface="action-sheet" formControlName="type">
          <ion-select-option *ngFor="let t of types" [value]="t">{{ t }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">{{ 'alert.field.priority' | translate }}</ion-label>
        <ion-select interface="action-sheet" formControlName="priority">
          <ion-select-option *ngFor="let p of priorities" [value]="p">{{ p }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">{{ 'alert.field.description' | translate }}</ion-label>
        <ion-textarea formControlName="description" autoGrow="true" clearInput="true" maxlength="200"></ion-textarea>
      </ion-item>
    </form>

    <large-button
      [label]="buttonLabel | translate"
      (click)="onSubmit(form.value)"
      [isDisable]="!form.valid"
      class="full-width"
    ></large-button>
  </div>
</ion-content>
