<ion-header>
  <toolbar-component [title]="'alert.list.title' | translate"></toolbar-component>
</ion-header>

<ion-content class="ion-padding">
  <div id="flex-container">
    <form [formGroup]="form" class="full-width">
      <ion-item>
        <ion-label position="stacked">{{ 'core.forms.field.name' | translate }}</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <!-- Use Google Maps -->
      <ion-item>
        <ion-label position="stacked">{{ 'alert.common.field.location' | translate }}</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{ 'alert.common.field.type' | translate }}</ion-label>
        <ion-select [value]="AlertType">
          <ion-select-option value="cat">Cat</ion-select-option>
          <ion-select-option value="dog">Dog</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{ 'core.field.name' | translate }}</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
    </form>

    <large-button
      [label]="buttonLabel | translate"
      (click)="onSubmit($event)"
      [isDisable]="!form.valid"
      class="full-width"
    ></large-button>
  </div>
</ion-content>
