<ng-container *ngIf="items; else loading">
  <ng-container *ngIf="items.length; else empty">
    <ion-list *ngFor="let item of items" (click)="onRedirect(item)">
      <ion-item>
        <ion-label>{{ item.name }}</ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</ng-container>

<ng-template #empty>
  <ion-item>
    <ion-label>{{ 'core.items.empty' | translate }}</ion-label>
  </ion-item>
</ng-template>

<ng-template #loading>
  <ion-item lines="none">
    <ion-label class="ion-text-center">
      <ion-spinner name="crescent"></ion-spinner>
    </ion-label>
  </ion-item>
</ng-template>
