ion-grid {
  display: flex;
  flex-direction: column;
  height: 100%;

  div.content {
    height: 100%;

    ion-img {
      width: 70%;
      margin: 0 auto;
      padding-top: 3rem;
    }

    .social-network ion-col {
      display: flex;
      justify-content: center;
    }
  }
}
