<ion-content>
  <ion-text color="primary" class="ion-text-center">
    <h2>{{ 'register.title' | translate }}</h2>
  </ion-text>

  <form [formGroup]="form" (ngSubmit)="onLogin()" class="ion-padding">
    <ion-item>
      <ion-label color="primary" position="stacked">E-Mail</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="stacked">Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <ion-button type="submit" class="ion-padding" expand="block">Login</ion-button>
  </form>
</ion-content>
