<ion-content>
  <ion-text color="primary" class="ion-text-center">
    <h2>{{ title | translate }}</h2>
  </ion-text>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">{{ 'server.form.common.name' | translate }}</ion-label>
      <ion-input formControlName="name">{{ server?.name }}</ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">{{ 'server.form.common.url' | translate }}</ion-label>
      <ion-input formControlName="url">{{ server?.url }}</ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">{{ 'server.form.common.port' | translate }}</ion-label>
      <ion-input type="number" formControlName="port">{{ server?.port }}</ion-input>
    </ion-item>

    <ion-button type="submit" class="ion-padding" expand="block">{{ buttonLabel | translate }}</ion-button>
  </form>
</ion-content>
